<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>CommonHtmlFragments</title>
    <style th:fragment="commonMailStyle">
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
        }

        .wrapper {
            display: table;
            width: 750px;
            height: 100%;
            margin: 0 auto;
            background: #F5F7FA;
            font: 14px/20px Arial, sans-serif;
        }

        .content {
            display: table-row;
            height: 100%;
        }

        .def-paddig {
            padding: 10px 20px;
        }

        h1 {
            padding: 40px 20px 30px;
            font: 26px/1.3 Arial, sans-serif;
            text-align: center;
        }

        a {
            color: #3498DB;
        }

        .footer {
        }
    </style>
</head>
<body>

<div th:fragment="callbackFooter" class="footer">
    <div th:if="${notificationProfile != null}">
        <a th:if="${notificationProfile != null}" th:href="${notificationProfile}">Настройки уведомления</a>
    </div>
</div>
</body>
</html>