<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Новые друзья</title>
    <style th:replace="mails/commonHtmlFragments::commonMailStyle"></style>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <h1>Изменение в друзьях</h1>
        <a th:href="'https://vk.com/id' + ${user.targetUser.id}"><h3
                th:text="${user.targetUser.firstName} + ' ' + ${user.targetUser.lastName}"></h3></a>
        <div th:if="${not #lists.isEmpty(user.added)}" class="def-paddig">
            <span>Добавились:</span><br/>
            <ul>
                <li th:each="friend, index : ${user.added}" class="def-paddig">
                    <img th:src="${friend.photo50}"/><a th:href="'https://vk.com/id' + ${friend.id}"><span
                        th:text="${friend.firstName} + ' ' + ${friend.lastName}"></span></a>
                </li>
            </ul>
        </div>
        <div th:if="${not #lists.isEmpty(user.removed)}" class="def-paddig">
            <span>Удалились:</span><br/>
            <ul>
                <li th:each="friend, index : ${user.removed}" class="def-paddig">
                    <img th:src="${friend.photo50}"/><a th:href="'https://vk.com/id' + ${friend.id}"><span
                        th:text="${friend.firstName} + ' ' + ${friend.lastName}"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <object th:replace="mails/commonHtmlFragments::callbackFooter"></object>
</div>
</body>
</html>