<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Отчет по посещению</title>
    <style th:replace="mails/commonHtmlFragments::commonHtmlFragments.html"></style>
</head>
<body>
<div>
    <h2>Отчет по посещению за <span th:text="${today}"></span></h2>
    <a th:href="'https://vk.com/id' + ${user.id}"><h3
            th:text="${user.firstName} + ' ' + ${user.lastName}"></h3></a>
    <div th:if="${not #lists.isEmpty(onlinePeriods)}">
        <span>Был(a) online: </span>
        <ul>
            <li th:each="period, index : ${onlinePeriods}">
                <div>
                    <span th:text="${period.toString()}"></span>
                </div>
            </li>
        </ul>
        <div th:if="${allOnlineTime != null}">
            <span>Общее время онлайн примерно: </span><span th:text="${allOnlineTime}"></span>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(onlinePeriods)}">
        <span>Не посещал(ла)</span>
    </div>
    <object th:replace="mails/commonHtmlFragments::callbackFooter"></object>
</div>
</body>
</html>