<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Подписка на обновления</title>
    <style th:replace="mails/commonHtmlFragments::commonHtmlFragments.html"></style>
</head>
<body>
<div>
    <h2>Вы подписались на обновления для пользователя</h2>
    <img th:src="${user.photo50}"/><a th:href="'https://vk.com/id' + ${user.id}"><h3
            th:text="${user.firstName} + ' ' + ${user.lastName}"></h3></a>
    <object th:replace="mails/commonHtmlFragments::callbackFooter"></object>
</div>
</body>
</html>